.formContainer {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.logo {
  text-align: center;
  margin-right: 50px;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f5e1;
}

.login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
  border: 1px solid red;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

/* Enlaces */
a.primary {
  color: #1d8e42;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
}

a.primary:hover {
  text-decoration: underline;
}

.text {
  color: #34a853;
}